
body {
  font-family: Arial, sans-serif;
  background-color: #E8D8B0; /* Espresso Elegance - Link: https://piktochart.com/tips/coffee-shop-color-palette */
  margin: 0;
  padding: 0;
  color: #212529;
}

h1 {
  color: #000000;
  text-align: center;
  padding: 20px;
}

p {
  margin-top: 5px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}


a {
  margin-top: 5px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}

p .title {  /* This line doesn't change the out put*/
  font-style: bold;
  display: block;
  margin-top: 5px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}

.box {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}