<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Cafés for Remote Work</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/images/coffee.png" />

    <!-- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>

    <header>
      <h1>Add Best Cafés for Remote Work</h1>
    </header>

    <form class="cafe-details" action="{{ url_for('add_all') }}" method="POST">
      <div class="form-box">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Cafe name" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="New York" required>

        <label for="wifi">Wi-Fi:</label>
        <input type="text" id="wifi" name="wifi" placeholder="Yes" required>

        <label for="power">Electrical outlet:</label>
        <input type="text" id="power" name="power" placeholder="Yes" required>

        <label for="link">Link:</label>
        <input type="url" id="link" name="link" placeholder="https://..." required>

        <button type="submit">Save</button>
      </div>
    </form>


  </body>
</html>
