<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Cafés for Remote Work</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/images/coffee.png" />

    <!-- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>

    <header>
      <h1>Best Cafés for Remote Work</h1>
    </header>

    <main>

    </main>

  </body>
</html>
