<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Cafés For remote Work</title>

      <!-- Favicon: https://www.flaticon.com/free-icon/stack-of-books_5832416?term=book&page=1&position=3&origin=search&related_id=5832416-->
    <link rel="icon" type="image/x-icon" href="static\images\coffee.png"> <!-- Adding a favicon to my website tab header -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    <h1>Best Cafés</h1>
    <!-- Using nested loop to get access to the dictionary keys and values -->
    <h3>
      {% for i in cafe_list %} {% for key, value in i.items() %}
      <ul>
        {% if key == 'Link' %}
        <a href={{value}}>Click Here</a>
        {% else %}
        <li>{{key}}: {{value}}</li>
        {% endif %}
      </ul>
      {% endfor %} <br /> {% endfor %}
    </h3>
    <!-- Function finished here -->
  </body>
</html>